table {
    border-spacing: 10px;
    border: 1px solid gray;
  }
  #table1{
    border: 1px solid black;
    width: 50%;
  }
  #test1{font-style: italic;}

  #jumbotext{background-color: coral;}
  .col-sm-4{background-color:white;}
  #d1{
    background-color: #e3e3e3;
}
#fi{background-color: blue;}
#fi1{background-color: blue;}
#r1{
  margin-top: 10px;
}